@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AppInitializer /> 
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h3>Page introuvable</h3>
            <p>La page demandée n'existe pas. Cliquez <a href="/">ici</a> pour retourner à l'accueil.</p>
        </LayoutView>
    </NotFound>
</Router>
