@page "/"

<div class="jumbotron">
    <h1 class="display-4">Application de Gestion des Stagiaires</h1>
    <p class="lead">Une plateforme complète pour la gestion administrative et pédagogique des stagiaires au sein d'une entreprise.</p>
    <hr class="my-4">
    <ul style="line-height:1.8;">
        <li><b>Ajout des stagiaires</b> – Ajout avec toutes les informations personnelles et de stage.</li>
        <li><b>modification des stagiaires</b> – modification de toutes les informations personnelles et de stage.</li>
        <li><b>suppression des stagiaires</b> – suppression avec la suppression de toutes les informations personnelles et de stage.</li>
        <li><b>consultation des stagiaires</b> – Ajout avec toutes les informations personnelles et de stage.</li>
        <li><b>Authentification</b> – Connexion sécurisée des utilisateurs avec rôles (administrateur,Employes) via JWT.</li>
    </ul>
</div>
